<%= form_with(model: task, class: "needs-validation") do |form| %>
  <div class="card-header">
    <h4>Task Form</h4>
  </div>
  <div class="card-body">
      <div class="form-group">
      <%= form.label :title %>
    <%= form.text_field :title, class: "form-control #{'is-invalid' if task.errors.has_key?(:title)}" %>
      <% if task.errors.has_key?(:title) %>
        <div class="text-danger">
          <%= task.errors.full_messages_for(:title).join(', ') %>
        </div>
      <% end %>
    </div>
      <div class="form-group">
      <%= form.label :content %>
    <%= form.text_field :content, class: "form-control #{'is-invalid' if task.errors.has_key?(:title)}" %>
      <% if task.errors.has_key?(:content) %>
        <div class="text-danger">
          <%= task.errors.full_messages_for(:content).join(', ') %>
        </div>
      <% end %>
    </div>
    </div>
  <div class="card-footer text-right">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
