<tr  id="<%= dom_id document %>">
  <td class="p-0 text-center">
  </td>
  <td><%= document.content %></td>
  <td class="align-middle">
    <%= document.title %>
  </td>
  <% if params[:action] == 'index' %>
    <td class="p-0 text-center">
      <div class="btn-group-vertical">
        <%= link_to "Show", document, class: "btn btn-outline-secondary mb-1" %>
        <%= link_to "Edit", edit_document_path(document), class: "btn btn-outline-success mb-1" %>
        <%= button_to "Destroy", document, method: :delete, form: { data: { 'turbo-confirm': 'Are you sure?' } }, class: "btn btn-outline-danger mb-1" %>
      </div>
    </td>
  <% end %>
</tr>