<%= form_with(model: document, class: "needs-validation") do |form| %>
  <div class="card-header">
    <h4>Document Form</h4>
  </div>
  <div class="card-body">
    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control #{'is-invalid' if document.errors.has_key?(:title)}" %>
      <% if document.errors.has_key?(:title) %>
        <div class="text-danger">
          <%= document.errors.full_messages_for(:title).join(', ') %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= form.label :content %>
      <%= form.text_area :content, class: "form-control #{'is-invalid' if document.errors.has_key?(:content)}" %>
      <% if document.errors.has_key?(:content) %>
        <div class="text-danger">
          <%= document.errors.full_messages_for(:content).join(', ') %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-footer text-right">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
