
<%= simple_form_for(@book) do |f| %>
<div class="card-header">
  <h4>Book Form</h4>
</div>
<div class="card-body">
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
      <%= f.input :title %>
      <%= f.association :makanan %>
  </div>
  <div class="form-actions float-end py-3">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
</div>
<% end %>
