<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control",  tabindex: "1" %>
  </div>
  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control",  tabindex: "2" %>
  </div>
  <% if devise_mapping.rememberable? %>
    <div class="form-group">
      <div class="custom-control custom-checkbox">
        <%= f.check_box :remember_me,  class: "custom-control-input", tabindex: "3"  %>
        <%= f.label :remember_me, class: "custom-control-label" %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col form-group text-left">
      <%= render "devise/shared/links", class: "float-left mt-3" %>
    </div>
    <div class="col form-group text-right">
      <%= f.submit "Log in", class: "btn btn-primary btn-lg btn-icon icon-right", tabindex: "4" %>
    </div>
  </div>
<% end %>