<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Your custom stylesheets -->
    <%= stylesheet_link_tag "style", media: "all" %>
    <%= stylesheet_link_tag "components", media: "all" %>
    <%= stylesheet_link_tag "custom", media: "all" %>
    <!-- Import JavaScript libraries -->
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div id="app">
      <%= render 'shared/alert' %>
      <% if devise_auth_action? %>
        <!-- Devise login/sign-up layout -->
        <section class="section">
          <div class="d-flex flex-wrap align-items-stretch">
            <!-- Devise form -->
            <div class="col-lg-4 col-md-6 col-12 order-lg-1 min-vh-100 order-2 bg-white">
              <div class="p-4 m-3">
                <img src="<%= image_path('stisla-fill.svg') %>" alt="logo" width="80" class="shadow-light rounded-circle mb-2" />
                <h4 class="text-dark font-weight-normal">Welcome to <span class="font-weight-bold">Mail</span></h4>
                <p class="text-muted">Before you get started, you must login.</p>
                <%= yield %>
                <div class="text-center mt-5 text-small">Copyright &copy; Anjasfedo. Made with 💙 by Stisla</div>
              </div>
            </div>
            <!-- Background image -->
            <div class="col-lg-8 col-12 order-lg-2 order-1 min-vh-100 background-walk-y position-relative overlay-gradient-bottom" data-background="<%= image_path('unsplash/login-bg.jpg') %>">
              <div class="absolute-bottom-left index-2">
                <div class="text-light p-5 pb-2">
                  <div class="mb-5 pb-3">
                    <h1 class="mb-2 display-4 font-weight-bold">Good Morning</h1>
                    <h5 class="font-weight-normal text-muted-transparent">Bali, Indonesia</h5>
                  </div>
                  Photo by <a class="text-light bb" target="_blank" href="https://unsplash.com/photos/a8lTjWJJgLA">Justin Kauffman</a> on <a class="text-light bb" target="_blank" href="https://unsplash.com">Unsplash</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      <% elsif devise_update_profile?  %>
        <div class="main-wrapper">
          <div class="navbar-bg"></div>
          <nav class="navbar navbar-expand-lg main-navbar">
            <div class="form-inline mr-auto">
              <ul class="navbar-nav mr-3">
                <li>
                  <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a>
                </li>
              </ul>
            </div>
            <ul class="navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                  <%= image_tag ('avatar/avatar-1.png'), alt: 'profile',class: "rounded-circle mr-1" %>
                  <div class="d-sm-none d-lg-inline-block">
                    <%= current_user.email %>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <div class="dropdown-title">Logged in for <%= time_ago_in_words(session[:login_time]) %> </div>
                  <%= link_to edit_user_registration_path, class: 'dropdown-item has-icon', data: {turbo: false} do %>
                    <i class="far fa-user"></i> Profile
                  <% end %>
                  <div class="dropdown-divider"></div>
                  <%= button_to destroy_user_session_path, method: :delete, class: 'dropdown-item has-icon text-danger small d-flex align-items-center', data: {turbo: false} do %>
                    <i class="fas fa-sign-out-alt"></i>  Logout
                  <% end %>
                </div>
              </li>
            </ul>
          </nav>
          <div class="main-sidebar">
            <aside id="sidebar-wrapper">
              <div class="sidebar-brand">
                <a href="#">Mail</a>
              </div>
              <div class="sidebar-brand sidebar-brand-sm">
                <a href="#">M</a>
              </div>
              <%= render 'layouts/menu' %>
            </aside>
          </div>
          <!-- Main Content -->
          <div class="main-content">
            <section class="section">
              <%= render 'shared/alert' %>
              <%= yield %>
            </section>
          </div>
          <footer class="main-footer">
            <div class="footer-left">
              Copyright &copy; 2024
              <div class="bullet"></div>
              By <a href="https://github.com/Anjasfedo/" target="_blank">Anjasfedo</a>
            </div>
          </footer>
        </div>
      <% else %>
        <!-- Default layout -->
        <%= yield %>
      <% end %>
    </div>
    <!-- JavaScript libraries -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <%= javascript_include_tag "stisla" %>
    <%= javascript_include_tag "scripts" %>
    <%= javascript_include_tag "custom" %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </body>
</html>
